@charset "utf-8";

/* 섹션 타이틀 배너 */
.section_title{
  background-image: url('../img/img_visual02.jpg');
}
/* 컨텐츠 */
.content{
  background: url('../img/bg_body.jpg') no-repeat top center;
}
/* 탭 메뉴 1 */
.tab_content_01{
}
/* 인사말 */
.greet {
  overflow: hidden;
  margin-bottom: 60px
}
.greet_txt{
  float: left;
  width: 50%;
}
.greet_img{
  float: right;
  width: 50%;
  text-align: right;
}
h6{
  margin-bottom: 70px;
  font-size: 38px;
  font-weight: 500;
  color: #222;
  line-height: 1.4;
}
.greet p{
  line-height: 1.7;
  color: #666;
  font-size: 16px;
  font-weight: 300;
}
.greet p:not(:first-child){
  margin-top: 25px;
}
/* 정보 */
.info{
  position: relative;
  display: inline-block;
}
.info > li{
  display: block;
  float: left;
  padding: 25px 18px;
  width: 100%;
  /* width: 240px; */
  color: #222;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.info > li:first-child{
  border-top: 2px solid #222;
}
.info > li > ul{
  float: right;
  width: calc( 100% - 240px );
}
.info > li > ul > li{
  position: relative;
  display: block;
  padding-left: 12px;
  width: 100%;
  line-height: calc( 1.7em + 4px );
  color: #666;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.info > li > ul > li:before{
  content: "";
  position: absolute;
  top: 14px;
  left: 0px;
  width: 2px;
  height: 2px;
  background-color: #888;
  border-radius: 50%;
}
/* 연혁 */
/* .history_list b, .history_list span{ */
.history_list li *{
  display: inline-block;
  margin-right: 12px;
}
.history_list.list_bg li:first-child p{
  color: #444;
}
.list_bg li:nth-child(2n){
  background-color: #f6f9f7;
}
.history_title{
  color: #222;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 32px;
}
.history_list b, .history_list span{
  color: #000;
}
.history_list span{
  font-weight: 500;
}
.history_list strong{
  color: #00974a;
}
.history_list i{
  color: #999;
  font-style: normal;
  font-weight: 500;
}
.history_list li{
  margin: 0;
  padding: 16px 16px 16px 40px;
  width: 100%;
  box-sizing: border-box;
}
.history_list li p{
  color: #666;
  vertical-align: top;
}
.old{
  margin-top: 40px;
  width: 100%;
  column-count : 2;
  column-gap: 45px;
}
.old div{
  break-before: column;
  padding: 50px 0;
  border: 4px solid #dfdfdf;
  font-size: 21px;
  color: #222;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}
.old li:not(:first-child){
  border-top: 1px dashed #ddd;
}

@media screen and ( max-width: 1280px ){
  .content{
    background-position: 50% -60px;
  }
  .greet_txt br{
    display: none;
  }
  h6{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .greet_txt p{
    font-size: 15px;
  }
  .greet_img img{
    width: 445px;
  }
  .info > li > ul {
    width: calc( 100% - 180px );
  }
  .info > li > ul > li{
    font-size: 15px;
  }
  .history_title {
    margin-bottom: 22px;
  }
  .old {
    column-gap: 15px;
  }
  .old div{
    padding: 30px 0;
    font-size: 20px;
  }
  .history_list li {
    padding: 14px 14px 14px 20px;
  }
}
@media screen and ( max-width: 1024px ){
  h6{
    font-size: 25px;
  }
  .greet_img img{
    width: 340px;
  }
  .info > li > ul {
    width: calc( 100% - 100px );
  }
  .history_title {
    font-size: 30px;
  }
  .old {
    column-count : auto;
  }
  .old div{
    font-size: 18px;
  }
  .old li{
    padding: 14px 14px 14px 10px;
  }
  .history li *{
    font-size: 14px;
  }
  .old li + div{
    margin-top: 10px;
  }
}
@media screen and ( max-width: 768px ){
  .content{
    background-position: 50% -40px;
  }
  .greet_txt, .greet_img{
    width: 100%;
  }
  h6{
    margin-bottom: 25px;
    font-size: 20px;
  }
  .greet p{
    font-size: 14px;
  }
  .greet p:not(:first-child){
    margin-top: 15px;
  }
  .greet_img{
    margin-top: 50px;
    text-align: center;
  }
  .greet_img img{
    width: 300px;
  }
  .info > li > ul > li{
    font-size: 14px;
  }
  .history_title{
    font-size: 22px
  }
}
