@charset "utf-8";

h2, h3{ line-height: 1.5; }
/* 섹션 타이틀 배너 */
.section_title{
  position: relative;
  height: 675px;
  background: url('../img/img_visual01.jpg') 50% 50% / cover;
}
.section_text{
  position: relative;
  margin: 0 auto;
  top: 50%;
  width: 1184px;
  transform: translateY( -50% );
}
.section_text h2{
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.section_text h3{
  margin-top: 11px;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 7px;
}
.scroll_down{
  position: absolute;
  left: 50%;
  bottom: 124px;
  transform: translateX(-50%);
  z-index: 10;
}
.scroll_down p{
  margin-bottom: 23px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.scroll_down span{
  display: block;
  margin: 0 auto 5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  animation: scroll_down 1.4s infinite;
}
.scroll_down span:nth-of-type(1){
  animation-delay: 0s;
}
.scroll_down span:nth-of-type(2){
  animation-delay: .05s;
}
.scroll_down span:nth-of-type(3){
  animation-delay: .1s;
}
@keyframes scroll_down{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* lnb 중간 메뉴 */
.lnb{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-bottom: 2px solid #f2f2f2;
  box-sizing: border-box;
}
.lnb_wrap, .content_wrap, .bbs{
  margin: 0 auto;
  width: 1200px;
}
.lnb_wrap{
  display: flex;
  justify-content: space-between;
}

.lnb_wrap li.on a{
  color: #00974a;
}
.lnb_wrap li.on a:before{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #00974a;
  z-index: 10;
}
.lnb_menu ul{
  display: flex;
}
.lnb_menu a{
  display: block;
  position: relative;
  margin: 0 50px;
  color: #444;
  font-weight: 400;
  line-height: 90px;
}
.nav_step{
  display: flex;
  align-items: center;
  margin-right: 42px;
}
.nav_step li{
  position: relative;
  padding: 0 16px;
  /* top: calc( 50% - 2px ); */
  color: #666;
  font-size: 15px;
  /* transform: translateY( -50% ); */
}
.nav_step li:first-child{
  padding: 0;
}
.nav_step li:last-child:before{
  content: '';
  position: absolute;
  top: 7px;
  left: -3px;
  width: 6px;
  height: 9px;
  background: url('../img/icon_navigation02.svg') no-repeat 50% 50%;
}
.nav_step img{
  /* display: inline-block; */
  position: relative;
  top: 1px;
    /* height: 14px; */
}

/* 컨텐츠 */
.content_wrap{
  margin: 120px auto 100px;
}
.content_title{
  text-align: center;
  margin-bottom: 53px;
}
.content_title h4{
  color: #222;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.5;
}
.content_title h5{
  margin-top: 13px;
  color: #666;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
}
/* 게시판 */
.bbs{
  border-top: 2px solid #505c78;
}
.bbs li{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 98px;
  border-bottom: 1px solid #eaecf1;
  box-sizing: border-box;
}
.date, .subject, .more_btn{
  /* float: left; */
  position: relative;
  display: inline-block;
  /* top: 50%;
  transform: translateY( -50% ); */
}
.date{
  position: relative;
  padding-right: 15px;
  width: 80px;
  color: #999;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.date:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 1px;
  height: 30px;
  background: #e5e5e5;
  transform: translateY( -50% );
}
.date p{
  display: block;
  line-height: 1.3;
  font-size: 30px;
  color: #444;
}
.subject{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 30px;
  padding: 30px 55px 30px 0;
  /* line-height: 38px; */
  /* top: calc( 50% - 2px ); */
  letter-spacing: -1px;
  transition: color .3s;
}
.subject:hover{
  color: #f15b6d;
}
.subject:hover .more_btn{
  width: 110px;
  color: #f15b6d;
  border-color: #f15b6d;
}
.subject:hover .more_btn{
  text-indent: 0;
}
.subject:hover .more_btn:after{
  background-position: 0 -14px;
}

.more_btn{
  overflow: hidden;
  position: absolute;
  padding-left: 10px;
  top: 50%;
  right: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  text-indent: 30px;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transform: translateY( -50% );
  transition: .3s;
}
.more_btn:before{
  content: '자세히 보기';
  position: absolute;
  display: none;
  margin-left: 10px;
  top: calc( 50% + 1px );
  left: 0;
  width: 110px;
  color: #f15b6d;
  font-size: 13px;
  transform: translateY( -50% );
}
.more_btn:after{
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 14px;
  height: 14px;
  background: url('../img/icon_more.png') no-repeat 0 0;
  transform: translateY( -50% );
}
/* 검색 */
.search_group{
  margin-top: 20px;
}
.search_group *{
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  box-sizing: border-box;
}
#search_option{
  padding: 0 30px 0 8px;
  color: #444;
  font-family: 'Play', 'Noto Sans KR', Sans-serif;
  background: url('../img/select_arrow.svg') no-repeat calc(100% - 10px) 50% / 7px 7px;
  border: 1px solid #ddd;
  /* -webkit-border-radius: 1px;
  -webkit-appearance: none; */
  appearance: none;
}
.search_group input{
  width: 200px;
  padding: 7px 8px;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.search_group button{
  padding: 0 15px;
  color: #fff;
  text-align: center;
  background: #41464e;
  border: 1px solid #25282d;
  transition: .3s ease-out;
}
.search_group button:hover{
  opacity: .8;
}
.pagination{
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px dashed #dadada;
}
.pagination li{
  display: inline-block;
  vertical-align: top;
}
.pagination a{
  display: inline-block;
  min-width: 38px;
  height: 38px;
  line-height: 38px;
  color: #444;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: border-color .3s;
}
.pagination a:not([class$='_btn']):hover{
  background-color: #f3f6fd;
  border-color: #bdc7e0;
}

.pagination .first_btn, .pagination .prev_btn, .pagination .next_btn, .pagination .last_btn{
  background: url('../img/btn_pagination.png') no-repeat;
}
.pagination .first_btn{
  background-position: -1px -1px;
}
.pagination .first_btn:hover{
  background-position: -1px -39px;
}
.pagination .prev_btn{
  background-position: -39px -1px;
}
.pagination .prev_btn:hover{
  background-position: -39px -39px;
}
.pagination .next_btn{
  background-position: -77px -1px;
}
.pagination .next_btn:hover{
  background-position: -77px -39px;
}
.pagination .last_btn{
  background-position: -115px -1px;
}
.pagination .last_btn:hover{
  background-position: -115px -39px;
}

@media screen and ( max-width: 1280px ){
  .lnb_wrap{
    flex-grow: 1;
  }
  .section_text, .content_wrap{
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
  }
  .lnb_wrap, .bbs{
    width: auto;
  }
  .lnb_menu a, .nav_step li{
    font-size: 15px;
  }
  .nav_step {
    margin-right: 14px;
  }
  .content_title h4{
    font-size: 40px;
  }
  .content_title h5{
    font-size: 15px;
  }
}
@media screen and ( max-width: 1024px ){
  .lnb{
    height: 70px;
  }
  .lnb_menu a{
    margin: 0 30px;
    line-height: 70px;
  }
  .section_title{
    height: 525px;
  }
  .section_text h2{
    font-size: 40px;
  }
  .section_text h3{
    margin-top: 6px;
    font-size: 15px;
  }
  .scroll_down {
    bottom: 62px;
  }
}
@media screen and ( max-width: 768px ){
  .section_title{
    height: 405px;
    text-align: center;
  }
  .section_text h2{
    font-size: 30px;
  }
  .scroll_down {
    bottom: 15px;
  }
  .content_title{
    margin-bottom: 20px;
  }
  .content_title h4{
    font-size: 28px;
  }
  .content_title h5{
    margin-top: 4px;
    font-size: 14px;
  }
  .section_text, .content_wrap{
    margin-left: 15px;
    margin-right: 15px;
  }
  .content_wrap{
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .lnb{
    height: 46px;
  }
  .lnb_wrap {
    justify-content: center;
  }
  .lnb_menu a{
    margin: 0 20px;
    font-size: 14px;
    line-height: 46px;
  }
  .nav_step{
    display: none;
  }
  .subject{
    margin-left: 20px;
  }
}
@media screen and ( max-width: 340px ){
  .subject{

    padding-right: 15px;
  }
  .more_btn {
    display: none;
  }
}
